body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: royalblue;
    margin-top: -50px;
    
    
}
.logo img{
    margin-bottom: 10px;
    width: 300px;
    margin-bottom: -70px;
    
}
.container {
    background-image: url(img/868507_blue-lonly-sleep-gradation-blur-iphone-6-wallpapers-download_1080x1920_h.jpg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
   
    
}

h1 {
    margin-bottom: 30px;
}
label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
   
}
input {
    width: 94%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
}
